@charset "UTF-8";
/*--- common ---*/
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  word-break: break-all;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu,nav, section, main {
  display: block;
}
ol, ul {
  list-style: none;
}
a, button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
i {
  font-style: normal;
}
img {
  border: 0;
  vertical-align: top;
}
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 300;
  src: url("../font/NanumSquareL.woff") format("woff");
}

@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 400;
  src: url("../font/NanumSquareR.woff") format("woff");
}

@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 700;
  src: url("../font/NanumSquareB.woff") format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 800;
  src: url("../font/NanumSquareEB.woff") format("woff");
}

/*----------------------
  Variables
----------------------*/
:root {
  /* Primary Colors */
  --color-primary: #5672ED;         /* 메인 브랜드 컬러 */
  --color-primary-accent: #367DFF;  /* 포인트 컬러 */
  --color-primary-light: #75B0FF;   /* 보조 컬러 */
    
  /* Text Colors */
  --color-text-100: #999999;
  --color-text-200: #666666;
  --color-text-300: #555555;
  --color-text-400: #111111;
  --color-text-500: #000000;

  /* Gray Scale Colors */
  --color-gray-100: #F1F5F8;
  --color-gray-150: #EEEEEE;
  --color-gray-200: #E8E8E8;
  --color-gray-300: #DDDDDD;
  --color-gray-350: #CCCCCC;
  --color-gray-400: #CACACA;
  --color-gray-500: #AAAAAA;

  /* 특수 배경 색상 */
  --color-bg-blue: #E6EAF5;
  
  /* System Colors */
  --color-system-error: #E72D2D;
  --color-system-warning: #F39800;
  
  /* Base Colors */
  --color-white: #FFFFFF;
 }

/*----------------------
  Common Layout
----------------------*/
body,
button {
  font-family: "NanumSquare", sans-serif;
  font-weight: 400;
}
html,
body {
  height: 100%;
}
.a11yHidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

/*----------------------
  Adaptive Layout
----------------------*/
.wrapper {
  min-width: 1920px;
  min-height: 100%;
  background-color: var(--color-gray-100);
}
.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--color-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 6px 50px;
  position: relative;
  width: 1920px;
  margin: 0 auto;
}
.header_inner .logo {
  position: relative;
  top: -9px;
  display: inline-block;
}
.header_inner .logo span {
  display: inline-block;
  vertical-align: middle;
  width: 173px;
  height: 64px;
  background: url("../images/icon/logo_sacheon.svg") 0 0 / 172px auto no-repeat;
  font-size: 0;
}
.header_inner .logo b {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 10px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  color: var(--color-primary);
}
.header_date {
  margin-left: auto;
  font-size: 36px;
  font-weight: 700;
}
.header_date .hd_date {
  margin-right: 5px;
}
.header_date .hd_time b {
  font-weight: 800;
}
.header_left .btn_prev_page {
  width: 160px;
  height: 72px;
  border-radius: 60px;
  border: 1px solid var(--color-gray-300);
  background: var(--color-white) url("../images/icon/back.svg") center left 20px / 48px
    no-repeat;
  padding-left: 32px;
}
.btn_prev_page span {
  position: relative;
  top: 1px;
  font-size: 26px;
  font-weight: 800;
  color: var(--color-text-200);
}
.header_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  line-height: 1;
  letter-spacing: -2px;
  font-weight: 800;
  color: var(--color-text-400);
}
.header_user {
  text-align: right;
}
.header_user .user_name {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -2px;
  font-weight: 800;
  color: var(--color-text-400);
}
.header_user .btn_logout {
  position: relative;
  font-size: 26px;
  letter-spacing: -2px;
  font-weight: 800;
  color: var(--color-primary-accent);
  border: 0;
  background-color: transparent;
  margin-left: 30px;
  padding-left: 30px;
}
.header_user .btn_logout::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 30px;
  background: var(--color-gray-300);
}
.container {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}
/*--- main ---*/
.main_area {
  display: flex;
  width: 1560px;
  height: 980px;
  min-height: calc(100% - 100px);
  padding: 70px 100px;
  background-position: left 20px bottom 68px;
  background-repeat: no-repeat;
  background-image: url("../images/icon/main_bg.svg");
  background-size: 533px 426px;
}
.main_area .main_intro {
  width: 479px;
}
.main_intro .mi_tit {
  margin-top: 56px;
}
.main_intro .mi_tit b {
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 800;
  color: var(--color-primary);
}
.main_intro .mi_txt {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -2px;
  font-weight: 300;
}
.main_intro .mml_btns {
  display: flex;
  gap: 9px;
  margin-top: 34px;
}
.mml_btns button {
  width: 200px;
  height: 100px;
  background-color: var(--color-bg-blue);
  border-radius: 20px;
  border: 0;
  color: var(--color-primary);
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: 800;
}

.main_area .main_menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 880px;
}
.main_menu_link {
  position: relative;
  display: block;
  text-align: center;
  width: 430px;
  height: 267px;
  border-radius: 60px;
  background: rgb(88, 94, 191);
  background: linear-gradient(131.2deg, #B873F3 5.04%, #585EBF 100%);
  
  overflow: hidden;
  border: 0;
  padding: 0;
}
.main_menu_link.full {
  width: 100%;
}
.main_menu_link .link_disabled_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.link_disabled_mask span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-white);
  font-size: 30px;
  line-height: 42px;
  font-weight: 800;
  letter-spacing: -2px;
}
.main_menu_link figure {
  width: 120px;
  height: 120px;
  margin: 0px auto;
  background-size: 120px;
}
figure.fig_01 {
  background-image: url("../images/icon/btn01.png");
}
figure.fig_02 {
  background-image: url("../images/icon/btn02.png");
}
figure.fig_03 {
  background-image: url("../images/icon/btn03.png");
}
figure.fig_04 {
  background-image: url("../images/icon/btn04.png");
}
figure.fig_05 {
  background-image: url("../images/icon/btn05.png");
}
figure.fig_06 {
  background-image: url("../images/icon/btn06.png");
}
.main_menu_link .mml_txt {
  margin: 16px auto 0;
  display: block;
  color: var(--color-white);
  font-size: 42px;
  line-height: 1;
  letter-spacing: -2px;
  font-weight: 800;
}
.main_menu_link i {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: block;
  width: 48px;
  height: 48px;
  background-size: 48px;
  font-size: 0;
}
.mml_bluetooth {
  background-image: url("../images/icon/bluetooth.svg");
}
.mml_connect {
  background-image: url("../images/icon/connect.svg");
}
.main_area_aside {
  width: 360px;
  background-color: var(--color-bg-blue);
  right: 0;
  bottom: 0;
  position: absolute;
  top: 0;
  height: 980px;
  min-height: calc(100dvh - 100px);
}

.main_weather {
  padding-top: 70px;
  text-align: center;
}
.weather_info {
  position: relative;
  display: inline-block;
  width: 272px;
}
.weather_info .temp0 {
  position: absolute;
  width: 136px;
  height: 122px;
}
.weather_info .temp1 {
  position: absolute;
  left: 136px;
  height: 122px;
  padding-left: 12px;
}
.weather_info .temp0 figure {
  width: 136px;
  height: 122px;
}
.weather_info .temp0 figure svg {
  max-width: 100%;
}
.weather_info .temp1 .current {
  font-size: 60px;
  letter-spacing: -2px;
  font-weight: 800;
}
.weather_info .temp1 .condition {
  font-size: 26px;
  font-weight: 700;
  padding-right: 12px; /* ° 간격 */
}
.weather_info .temp2 {
  margin-top: 122px;
  font-size: 24px;
  font-weight: 700;
}
.weather_info .temp2 span {
  position: relative;
  padding: 0 12px;
  font-weight: 700;
}
.weather_info .temp2 .lowest {
  color: var(--color-primary-accent);
}
.weather_info .temp2 .lowest::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  width: 1px;
  height: 20px;
  background: var(--color-gray-500);
}
.weather_info .temp2 .highest {
  color: var(--color-system-error);
}

.main_bus {
  width: 260px;
  height: 476px;
  margin: 60px auto 0;
}
.main_bus .mb_title {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -2px;
}
.figure_bg_bus {
  margin-top: 30px;
  padding-top: 120px;
  background: url("../images/icon/bus.svg") center top / 103px auto no-repeat;
  text-align: center;
}
.figure_bg_bus figcaption {
  font-size: 24px;
  letter-spacing: -1px;
  word-spacing: -2px;
  font-weight: 800;
  line-height: 34px;
  color: var(--color-text-100);
}
.mb_bus_list {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 350px;
}
.mb_bus_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 30px;
  background-color: var(--color-white);
  margin-bottom: 10px;
  border-radius: 20px;
}
.mb_bus_item.mb_bg_active {
  background-color: var(--color-primary);
}
.mb_bus_number {
  font-size: 44px;
  letter-spacing: -2px;
  color: var(--color-text-300);
  font-weight: 800;
}
.mb_bus_item.mb_bg_active .mb_bus_number,
.mb_bus_item.mb_bg_active .mb_bus_time,
.mb_bus_item.mb_bg_active .mb_bus_type {
  color: var(--color-white);
}
.mb_bus_time,
.mb_bus_type {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -2px;
  color: var(--color-text-300);
  text-align: right;
  font-weight: 700;
}
.mb_bus_type {
  display: block;
}
.mb_txt_rego {
  margin-top: 46px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
  letter-spacing: -1px;
  word-spacing: -2px;
  color: var(--color-text-300);
  text-align: center;
}
.mb_btn_rego {
  display: block;
  width: 160px;
  height: 60px;
  margin: 20px auto;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
  border: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.main_license {
  width: 260px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.main_license .img_bg_cc01,
.main_license .img_bg_cc02 {
  width: 125px;
  height: 44px;
}
.main_license .img_bg_cc01 {
  background: url("../images/icon/cc01.svg") center / 125px 44px no-repeat;
}
.main_license .img_bg_cc02 {
  background: url("../images/icon/cc02.svg") center / 125px 44px no-repeat;
}
.main_setting {
  width: 260px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.main_setting button {
  width: 125px;
  height: 100px;
  margin-top: 10px;
  padding-top: 65px;
  border-radius: 12px;
  border: 1px solid var(--color-gray-400);
}
.main_setting button span {
  color: var(--color-text-300);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -1px;
}
.btn_set_mypage {
  background: url("../images/icon/profile.svg") center top 15px / 40px no-repeat;
}
.btn_set_tablet {
  background: url("../images/icon/option.svg") center top 15px / 40px no-repeat;
}

/*--- sub ---*/
.sub_area {
  padding: 70px 100px;
}
.grid_card_wrap {
  display: flex;
  flex-wrap: wrap;
}
.grid_card_wrap.colum4_row1 {
  gap: 30px;
}
.grid_card_wrap.colum3_row1 {
  gap: 30px;
}
.grid_card_wrap.colum3_row2 {
  gap: 30px;
}
.gird_card {
  overflow-y: auto;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  border-radius: 20px;
}
/* min-height:840px; height:100%; 화면 전체 스크롤 */

.colum4_row1 .gird_card {
  width: 407.5px;
  height: 840px;
  padding: 50px 29px 26px;
}

/* 4컬럼 2행 그리드 스타일 */
.grid_card_wrap.colum4_row2 {
  gap: 30px;
}
.colum4_row2 .gird_card {
  width: 407.5px;
  height: 405px;
  padding: 24px 26px 0;
}
.colum4_row2 .gird_card h3 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 46px;
}
.colum4_row2 .card_img_box {
  height: 194px;
}
.colum4_row2 .card_img_box img {
  border-radius: 16px;
}
.colum4_row2 .gird_card_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 260px);
  margin-top: 0;
}
.colum4_row2 .gird_card_txt p {
  font-size: 24px;
  line-height: 36px;
}
.colum4_row2 .gird_card_txt small {
  font-size: 22px;
  line-height: 36px;
}

.colum3_row1 .gird_card {
  width: 553px;
  height: 840px;
  padding: 50px 29px 30px;
}
.colum3_row2 .gird_card {
  width: 553px;
  height: 405px;
  padding: 24px 26px 0;
}
.gird_card h3 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -2px;
  color: var(--color-text-400);
  text-align: center;
  word-break: keep-all;
}
.colum3_row2 .gird_card h3 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 46px;
}
.colum3_row1 .gird_card h3 {
  margin-bottom: 35px;
}
.font_smaller .gird_card h3 {
  margin-bottom: 16px;
  font-size: 32px;
}
.gird_card h3 b {
  color: var(--color-primary);
  font-weight: 800;
  padding-right: 10px;
}
.card_img_box {
  width: 100%;
  height: 384px;
  text-align: center;
  border-radius: 16px;
  overflow: hidden;
}
.colum3_row2 .card_img_box {
  height: 194px;
}
.font_smaller .card_img_box {
  height: 250px;
}
.card_img_box img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
/* 이미지 세로 동일하게 height:100%;*/

.gird_card_txt {
  margin-top: 30px;
}
.gird_card_txt p {
  font-size: 28px;
  line-height: 44px;
  letter-spacing: -2px;
  text-align: center;
  color: var(--color-text-300);
  word-break: keep-all;
}
.colum3_row1 .gird_card_txt {
  margin-top: 45px;
}
.colum3_row2 .gird_card_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 260px);
  margin-top: 0;
}
.colum3_row1 .gird_card_txt p {
  font-size: 30px;
  line-height: 46px;
}
.colum3_row2 .gird_card_txt p {
  font-size: 24px;
  line-height: 36px;
}
.colum3_row2 .gird_card_txt small {
  font-size: 22px;
  line-height: 36px;
}
.font_smaller .gird_card_txt p {
  font-size: 25.5px;
}
/*--- pop ---*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.popup.mask_bg {
  background-color: rgba(0, 0, 0, 0.6);
}
.pop_st1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  min-height: 800px;
  padding: 80px 60px 60px;
  background-color: var(--color-white);
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.popup_close_btn {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  border: 0;
  background: url("../images/icon/close.svg") center / 48px no-repeat;
}
.popup_content {
  padding-top: 0px;
}
.popup_tit {
  font-size: 48px;
  letter-spacing: -2px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
}
.color_b {
  color: var(--color-primary);
}
.dl_result_temper {
  height: 386px;
  margin: 40px auto;
  background-color: var(--color-gray-100);
  text-align: center;
}
.dl_result_temper dt {
  padding-top: 70px;
  font-size: 60px;
  letter-spacing: -2px;
  font-weight: 800;
}
.dl_result_temper dd {
  margin-top: 30px;
}
.dl_result_temper dd b.temper {
  font-size: 140px;
  line-height: 1;
  letter-spacing: -2px;
  word-spacing: -16px;
  font-weight: 800;
}
.popup_btns {
  display: flex;
  gap: 10px;
}
.popup_btns button {
  flex: 1;
  height: 120px;
  font-size: 40px;
  letter-spacing: -2px;
  font-weight: 800;
  border-radius: 12px;
  border: 0;
  color: var(--color-white);
}
.btn_gray {
  background-color: var(--color-gray-500);
}
.btn_orange {
  background-color: var(--color-system-warning);
}
.btn_blue {
  background-color: var(--color-primary);
}

.select_options_sugar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 40px auto;
}
.select_options_sugar.c2_r2 {
  width: 716px;
}
.select_options_sugar > li {
  width: 353px;
  height: 188px;
}
.option_btn {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 0;
  font-size: 40px;
  letter-spacing: -2px;
  font-weight: 800;
  background-color: var(--color-bg-blue);
  color: var(--color-primary);
}
.option_btn.selected {
  background-color: var(--color-primary);
  color: var(--color-white);
}  

/*----------------------
  Conference Layout
----------------------*/
/* Vertical Layout: 720 * 1280 */
.conf_wrapper {
  display: flex;
  flex-direction: column;
  min-width: 720px;
  min-height: 100%;
  height: 100%;
  background-color: var(--color-gray-100);
}
.conf_header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--color-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.conf_header_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  padding: 14px 32px;
  position: relative;
}
.conf_header_inner .logo {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-right: auto;
}
.conf_header_inner .logo img {
  width: 269px;
  height: 100%;
}
.conf_header_inner .header_item {
  display: flex;
}
.conf_title {
  flex: 1;
  padding-right: 56px;
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -2px;
  text-align: center;
  color: var(--color-text-400);
}
.conf_header_inner .logo b {
  display: inline-block;
  padding-left: 8px;
  vertical-align: bottom;
  font-size: 34px;
  font-weight: 800;
  line-height: 1;
  color: var(--color-primary);
  position: relative;
  top: -10px;
}
.header_close_btn {
  display: inline;
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-align: inherit;
  text-decoration: none;
  outline: none;
  position: relative;
}
.header_close_btn::before,
.header_close_btn::after {
  content: "";
  display: block;
  width: 4px;
  height: 46px;
  border-radius: 999px;
  background-color: var(--color-text-400);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_close_btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header_close_btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header_prev_btn {
  display: inline;
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-align: inherit;
  text-decoration: none;
  text-indent: -9999px;
  outline: none;
  position: relative;
  background: url("../images/icon/ico_prev.svg") center / cover no-repeat;
}

/* Container */
.conf_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  position: relative;
  padding: 0 32px;
}
.schedules_row {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-height: 0;
  margin-top: 60px;
  overflow-y: auto;
}
.schedule_title {
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.135;
  text-align: left;  
}
.schedule_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-height: 0;
  flex: 1;
  gap: 30px;
  overflow-y: auto;
}
.schedule_grid.empty {
  width: 100%;
  border-radius: 16px;
  background-color: var(--color-bg-blue);
  background-image: url("../images/pic/schedule_empty.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 49.305vw;
  background-size: clamp(300px, 49.305vw, 440px);
} 
/*----------------------
  Scrollbar
----------------------*/
.schedule_grid::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.schedule_grid::-webkit-scrollbar-thumb {
  background: rgba(193, 198, 207, 0.7);
  border-radius: 8px;
  transition: 0.3s;
}
.schedule_grid::-webkit-scrollbar-thumb:hover {
  background: rgba(172, 177, 185, 0.7);
}
.schedule_grid::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}
.schedule_grid {
  scrollbar-gutter: auto;
  box-sizing: content-box;
}
.schedule_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 304px; 
  border: 2px solid var(--color-primary);
  border-radius: 16px;
  background-color: var(--color-white);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.si_title {
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
  font-family: NanumSquare;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.437;
  letter-spacing: -2px;
  color: var(--color-text-400); 
}
.si_time {
  margin-top: 16px;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.533;
  letter-spacing: -2px;
  color: var(--color-primary);
}
.schedule_item.empty {
  border: 0;
  background-color: var(--color-bg-blue);
}
.controls_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 60px;
}

/* Button Container */
.btn_wrap + .btn_wrap {
  margin-top: 60px;
}
.btn_wrap {
  display: flex;
  width: 100%;
}

/* Button Variables */
.btn_control {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 72px;
  margin-right: 10px;
  font-weight: 800;
  font-size: 26px;
  line-height: 2.808;
  border-radius: 999px;
  border: none;
  text-decoration: none;
  outline: none;
}
.btn_action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100px;
  margin-right: 16px;
  font-size: 30px;
  font-weight: 800;
  line-height: 3.4;
  text-align: center;
  border-radius: 16px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  text-decoration: none;
}
.btn_action:last-child {
  margin-right: 0;
}
.btn_control:last-child {
  margin-right: 0;
} 
.btn_control.btn_outline {
  justify-content: flex-start;
  padding-left: 24px;
}
.btn_control.btn_secondary {
  justify-content: flex-end;
  padding-right: 24px;
}
.btn_control.btn_secondary [class*="ico_"] {
  margin-right: 0;
  margin-left: 8px;
}
.btn_large {
  height: 120px;
  margin-right: 16px;
  font-size: 40px;
  border-radius: 16px;
}

/* Button Colors */
.btn_default {
  color: var(--color-white);
  background-color: var(--color-gray-500);
}
.btn_outline {
  color: var(--color-text-200);
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-white);
}
.btn_secondary {
  color: var(--color-white);
  background-color: var(--color-primary-light);
}
.btn_primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* Button Icons */
[class*="btn_"] [class*="ico_"] {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn_action [class*="ico_"] {
  margin-right: 8px;
}
.ico_prev {
  background-image: url('../images/icon/ico_conf_prev.svg');
}
.ico_next {
  background-image: url('../images/icon/ico_conf_next.svg');
}
.ico_add {
  background-image: url('../images/icon/ico_conf_plus.svg');
}
.ico_calendar {
  background-image: url('../images/icon/ico_conf_calendar.svg');
} 

/*----------------------
  Conference Popup
----------------------*/
.conf_popup {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 720px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  z-index: 100;
}
.conf_popup.mask_bg {
  background-color: rgba(0, 0, 0, 0.6);
}
.conf_popup_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: calc(100% - (4.44vw * 2));
  min-height: 800px;
  padding: 50px 48px;
  padding: clamp(50px, 6.666vw, 80px) clamp(48px, 6.666vw, 80px);
  background-color: var(--color-white);
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.conf_popup_header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.conf_popup_header h3 {
  flex: 1;
  font-size: 40px;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: -2px;
  text-align: left;
}
.btn_pop_close {
  display: inline;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-align: inherit;
  text-decoration: none;
  outline: none;
  position: relative;
}
.btn_pop_close::before,
.btn_pop_close::after {
  content: "";
  display: block;
  width: 4px;
  height: 46px;
  border-radius: 999px;
  background-color: var(--color-text-400);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn_pop_close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.btn_pop_close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.conf_popup_content {
  padding-top: 0px;
}

/*----------------------
  Form Layout
----------------------*/
.form_element {
  display: grid;
  margin-bottom: 40px;
}
.form_element.col2 {
  grid-template-columns: 1fr 1fr;
}
.form_element.time {
  grid-template-columns: 1fr;
}
.form_label {
  display: inline-flex;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -2px;
  text-align: left;
  color: var(--color-text-200);
}
.time .form_label {
  margin-bottom: 16px;
}
.time .input_text {
  text-align: center;
}
.form_group {
  display: flex;
  margin-top: 30px;
}
.form_element.time .form_group {
  justify-content: flex-end;
}
.form_group .counter {
  min-width: initial;
}
.form_control {
  clear: left;
  position: relative;
}
.counter {
  display: flex;
  align-items: stretch;
}
.form_element.col2 .counter {
  min-width: 307px;
  margin-left: auto;
}
[class*="input_"] {
  font-family: inherit;
  outline: none;
}
.input_counter {
  flex: 1 1 auto;
  width: 1%;
  height: 80px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 2.8;
  letter-spacing: -2px;
  text-align: center;
  color: var(--color-text-400);
  border: 1px solid var(--color-gray-350);
  border-width: 1px 0;
}
.btn_counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 100%;
  background-color: var(--color-primary-light);
  border: none;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.btn_counter::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.btn_decrement {
  border-radius: 16px 0 0 16px;
}
.btn_increment {
  border-radius: 0 16px 16px 0;
}
.btn_decrement::after {
  background-image: url("../images/icon/ico_conf_dec.svg");
}
.btn_increment::after {
  background-image: url("../images/icon/ico_conf_inc.svg");
}
.time_devider {
  display: inline-flex;
  align-items: center;
  margin: 0 18px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
  color: var(--color-text-400);
}

/* Input Text */
.input_text {
  flex: 1;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2px;
  color: var(--color-text-400);
  border: 2px solid var(--color-gray-350);
  background-color: var(--color-gray-150);
  border-radius: 16px;
  outline: none;
}

/*----------------------
  Calendar Layout
----------------------*/
.schedule_calendar {
  height: 100%;
  margin-top: 40px;
  margin-top: clamp(40px, 5.555vw, 60px);
  margin-bottom: 40px;
  margin-bottom: clamp(40px, 5.555vw, 60px);
}
.sc_calendar {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  flex: 1;
}
.sc_weeks {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sc_week, .sc_weekdays {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
}
.sc_weekday {
  display: flex;
  align-items: center;
  height: 63px;
  height: clamp(63px, 8.75vw, 94px);
  padding: 8px;
  padding: clamp(8px, 1.111vw, 12px);
  text-align: left;
  line-height: 1;
  background-color: var(--color-bg-blue);
  border: 1px solid var(--color-gray-200);
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sc_weekday h3 {
  display: block;
  font-size: 20px;
  font-size: clamp(20px, 2.778vw, 30px);
  font-weight: 800;
  line-height: 1;
  letter-spacing: -2px;
  text-align: left;
  color: var(--color-text-400);
}
.sc_day {
  display: flex;
  flex-direction: column;
  height: auto;
  /* height: 171px;
  height: clamp(171px, 23.611vw, 255px); */
  padding: 20px 8px;
  padding: clamp(16px, 2.7vw, 42px) clamp(8px, 1.111vw, 12px);
  position: relative;
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-white);
  z-index: 1;
}
.sc_week:first-child .sc_day {
  border-top: 0;
}
.sc_week:not(:last-child) .sc_day {
  border-bottom: 0;
}
.sc_day:not(:nth-child(5n)) {
  border-right: 0;
}
.day_num {
  margin-bottom: 10px;
  margin-bottom: clamp(10px, 1.389vw, 14px);
  font-size: 20px;
  font-size: clamp(20px, 2.778vw, 30px);
  font-weight: 700;
  line-height: 23px;
  line-height: clamp(23px, 3.194vw, 30px);
  text-align: left;
  color: var(--color-text-400);
}
.event_item {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  font-size: 16px;
  font-size: clamp(16px, 2.222vw, 24px);
  font-weight: 800;
  line-height: 22px;
  line-height: clamp(22px, 3.056vw, 34px);
  letter-spacing: -1px;
  text-align: left;
}
.event_item + .event_item {
  margin-top: 10px;
  margin-top: clamp(10px, 1.389vw, 14px);
}
.event_time {
  line-height: inherit;
  color: var(--color-primary);
}
.event_title {
  display: block;
  min-width: 0;
  width: 100%;
  line-height: inherit;
  color: var(--color-text-200);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*-------------------------------
  Vertical Layout: 1080 * 1920
-------------------------------*/
@media screen and (min-width: 1080px)  {
  /* 필요시 추가 */
}

/*-------------------------------
  Horizontal Layout: 1280 * 720
-------------------------------*/
@media screen and (orientation: landscape) and (min-width: 1280px) {
  /* 화상회의 레이아웃 */
  .conf_header {
    height: 100px;
    height: clamp(60px, 5.208vw, 100px);
  }
  .conf_header_inner {
    max-width: 1820px;
    width: 94.792vw;
    height: 100px;
    height: clamp(60px, 5.208vw, 100px);
    padding: 14px 0;
    padding: clamp(10px, 0.781vw, 14px) 0;
  }
  .conf_header_inner .logo img {
    max-width: 274px;
    width: 14.270vw;
    height: 100%;
  }
  .conf_header_inner .logo b {
    padding-left: 10px;
    padding-left: clamp(6px, 0.521vw, 10px);
    padding-bottom: 8px;
    padding-bottom: clamp(4px, 0.417vw, 8px);
    font-size: 40px;
    font-size: clamp(26px, 2.083vw, 40px);
    top: 0;
  }
  .header_close_btn {
    width: 72px;
    width: clamp(40px, 3.75vw, 72px);
    height: 72px;
    height: clamp(40px, 3.75vw, 72px);
  }
  .header_close_btn::before, .header_close_btn::after {
    width: 4px;
    width: clamp(3px, 0.156vw, 4px);
    height: 54px;
    height: clamp(30px, 2.812vw, 54px);
  }
  .conf_container {
    width: 89.583vw;
    max-width: 1720px;
    margin: 0 auto;
    padding: 0;
  }
  .calendar .conf_container {
    width: 100%;
    max-width: initial;
  }

  /* 화상회의 메인 */
  .schedules_row {
    margin-top: 60px;
    margin-top: clamp(40px, 3.125vw, 60px);
  }
  .schedule_title {
    font-size: 36px;
    font-size: clamp(24px, 1.875vw, 36px);
    padding-bottom: 30px;
    padding-bottom: clamp(20px, 1.563vw, 30px);
  }
  .schedule_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
     /* grid-template-rows: repeat(2, 304px); 행 높이 304로 고정 */
    gap: 30px;
    gap: clamp(20px, 1.562vw, 30px);
  }
  .schedule_grid.empty {
    background-size: clamp(240px, 18.489vw, 355px);
  }
  .schedule_item {
    max-width: 100%;
    height: 100%;
    /* min-height: clamp(200px, 15.833vw, 304px); */
    min-height: 0;
    height: 100%;
  }
  .si_title {
    font-size: 32px;
    font-size: clamp(20px, 1.667vw, 32px);
  }
  .si_time {
    margin-top: 16px;
    margin-top: clamp(10px, 0.833vw, 16px);
    font-size: 30px;
    font-size: clamp(20px, 1.563vw, 30px);
  }

  /* 화상회의 버튼 */
  .controls_row {
    margin-top: 30px;
    margin-top: clamp(20px, 1.563vw, 30px);
    padding-bottom: 70px;
    padding-bottom: clamp(46px, 3.646vw, 70px);
    flex-direction: row;
    justify-content: space-between;
  }
  .btn_wrap + .btn_wrap {
    margin-top: 0;
  }
  .actions {
    justify-content: flex-end;
  }
  .btn_action {
    max-width: 274px;
    border-radius: 999px;
  }
  .btn_control {
    width: 120px;
    height: 54px;
    width: clamp(106px, 8.333vw, 160px);
    height: clamp(48px, 3.75vw, 72px);
    font-size: 26px;
    font-size: clamp(16px, 1.354vw, 26px);
    line-height: 8.5;
  }
  .btn_control.btn_secondary {
    padding-right: 24px;
    padding-right: clamp(16px, 1.25vw, 24px);
  }
  .btn_control.btn_outline {
    padding-left: 24px;
    padding-left: clamp(16px, 1.25vw, 24px);
  }
  [class*="btn_"] [class*="ico_"] {
    width: 40px;
    width: clamp(26px, 2.083vw, 40px);
    height: 40px;
    height: clamp(26px, 2.083vw, 40px);
    margin-right: 4px;
    margin-right: clamp(2px, 0.208vw, 4px);
  }
  .btn_control [class*="ico_"] {
    width: 40px;
    width: clamp(20px, 2.083vw, 40px);
    height: 40px;
    height: clamp(20px, 2.083vw, 40px);
  }
  .btn_control.btn_secondary [class*="ico_"] {
    margin-right: 0;
    margin-left: 4px;
    margin-left: clamp(2px, 0.208vw, 4px);
  }
  .btn_action {
    flex: initial;
    width: 273px;
    width: clamp(182px, 14.218vw, 273px);
    height: 100px;
    height: clamp(70px, 5.313vw, 100px);
    font-size: 30px;
    font-size: clamp(20px, 1.563vw, 30px);
  }
  .btn_action [class*="ico_"] {
    margin-right: 8px;
    margin-right: clamp(4px, 0.417vw, 8px);
  }
  .btn_large {
    flex: 1;
    max-width: initial;
    height: 120px;
    height: clamp(80px, 6.25vw, 120px);
    margin-right: 10px;
    margin-right: clamp(6px, 0.521vw, 10px);
    font-size: 40px;
    font-size: clamp(26px, 2.083vw, 40px);
    border-radius: 16px;
    border-radius: clamp(8px, 0.833vw, 16px);
  }

  /* 화상회의 팝업 */
  .conf_popup_box {
    width: 62.5vw;
    max-width: 1200px;
    min-height: initial;
    padding: 50px 60px 42px;
    padding: clamp(30px, 2.604vw, 50px) clamp(40px, 3.125vw, 60px) clamp(30px, 2.188vw, 42px);
    border-radius: 40px;
    border-radius: clamp(20px, 1.736vw, 40px);
  }
  .conf_popup_header h3 {
    font-size: 40px;
    font-size: clamp(30px, 2.083vw, 40px);
  }
  .btn_pop_close {
    width: 48px;
    width: clamp(30px, 2.5vw, 48px);
    height: 48px;
    height: clamp(30px, 2.5vw, 48px);
  }
  .btn_pop_close::before, .btn_pop_close::after {
    width: 4px;
    width: clamp(2px, 0.208vw, 4px);
    height: 48px;
    height: clamp(30px, 2.5vw, 48px);
  }
  .form_element {
    margin-bottom: 40px;
    margin-bottom: clamp(20px, 2.083vw, 40px);
  }
  .form_element + .btn_wrap {
    padding-top: 10px;
    padding-top: clamp(6px, 0.521vw, 10px);
  }
  .form_element.time {
    grid-template-columns: 178px 221px 1fr;
    grid-template-columns: clamp(120px, 9.375vw, 178px) clamp(160px, 12.5vw, 221px) 1fr;
    gap: 16px;
    gap: clamp(10px, 0.781vw, 16px);
    align-items: center;
  }
  .form_element.col2 {
    grid-template-columns: 178px 1fr;
    grid-template-columns: clamp(120px, 9.375vw, 178px) 1fr;
    gap: 16px;
    gap: clamp(10px, 0.781vw, 16px);
  }
  .form_element.col2 .counter {
    width: 15.989vw;
    min-width: initial;
    max-width: 307px;
    margin-left: 0;
    margin-right: auto;
  }
  .form_group {
    margin-top: 0;
  }
  .time .form_label {
    margin-bottom: 0;
  }
  .input_text {
    height: 90px;
    height: clamp(60px, 4.688vw, 90px);
    padding: 0 30px;
    padding: 0 clamp(10px, 1.562vw, 30px);
    border-radius: 16px;
    border-radius: clamp(8px, 0.833vw, 16px);
    font-size: 30px;
    font-size: clamp(20px, 1.563vw, 30px);
    line-height: 3;
  }
  .time .input_text {
    height: 80px;
    height: clamp(60px, 4.167vw, 80px);
    padding: 0 24px;
    padding: 0 clamp(10px, 1.562vw, 24px);
  }
  .input_counter {
    height: 80px;
    height: clamp(60px, 4.167vw, 80px);
    font-size: 30px;
    font-size: clamp(20px, 1.563vw, 30px);
  }
  .counter {
    min-width: 307px;
    min-width: clamp(200px, 15.989vw, 307px);
  }
  .time_devider {
    margin: 0 8px;
    margin: 0 clamp(4px, 0.313vw, 8px);
    font-size: 30px;
    font-size: clamp(20px, 1.563vw, 30px);
  }
  .form_label {
    font-size: 30px;
    font-size: clamp(20px, 1.563vw, 30px);
    letter-spacing: -2px;
    letter-spacing: clamp(-1px, -0.083vw, -2px);
  }
  .btn_counter {
    width: 88px;
    width: clamp(60px, 4.583vw, 88px);
  }
  .btn_counter::after {
    width: 40px;
    width: clamp(30px, 2.604vw, 40px);
    height: 40px;
    height: clamp(30px, 2.604vw, 40px);
  }
  .btn_decrement {
    border-radius: 16px 0 0 16px;
    border-radius: clamp(8px, 0.833vw, 16px) 0 0 clamp(8px, 0.833vw, 16px);
  }
  .btn_increment {
    border-radius: 0 16px 16px 0;
    border-radius: 0 clamp(8px, 0.833vw, 16px) clamp(8px, 0.833vw, 16px) 0;
  }

  /* 캘린더 */
  .conf_title {
    font-size: 32px;
    font-size: clamp(20px, 1.666vw, 32px);
    letter-spacing: 0;
  }
  .header_prev_btn {
    width: 160px;
    height: 72px;
    width: clamp(100px, 8.333vw, 160px);
    height: clamp(40px, 3.75vw, 72px);
    padding-left: 26px;
    padding-left: clamp(16px, 1.25vw, 26px);
    font-size: 26px;
    font-size: clamp(16px, 1.354vw, 26px);
    font-weight: 800;
    line-height: 2.5;
    text-align: left;
    text-indent: 0;
    text-align: center;
    color: var(--color-text-200);
    border-radius: 999px;
    border: 1px solid var(--color-gray-300);
    background-size: 40px;
    background-size: clamp(26px, 2.083vw, 40px);
    background-position: left 24px center;
    background-position: left clamp(16px, 1.25vw, 24px) center;
    background-image: url("../images/icon/ico_prev_40.svg");
  }
  .schedule_calendar {
    max-width: 1820px;
    width: 94.792vw;
    margin: 40px auto;
    margin: clamp(20px, 2.083vw, 40px) auto;
  }
  .sc_weekday {
    height: 67px;
    height: clamp(30px, 3.489vw, 67px);
    padding: 0 24px;
    padding: 0 clamp(10px, 0.781vw, 24px);
  }
  .sc_weekday h3 {
    font-size: 24px;
    font-size: clamp(16px, 1.25vw, 24px);
  }
  .sc_day {
    flex-direction: row;
    /* height: 138px;
    height: clamp(80px, 7.188vw, 138px); */
    height: auto;
    padding: 16px 24px;
    padding: clamp(10px, 0.833vw, 16px) clamp(10px, 1.25vw, 24px);
  }
  .day_num {
    min-width: 30px;
    min-width: clamp(20px, 1.563vw, 30px);
    margin-bottom: 0;
    margin-right: 24px;
    margin-right: clamp(10px, 1.25vw, 24px);
    font-size: 24px;
    font-size: clamp(12px, 1.25vw, 24px);
    line-height: 1;
    white-space: nowrap;
  }
  .event_item {
    font-size: 18px;
    font-size: clamp(12px, 0.938vw, 18px);
    line-height: 1.25;
  }
  .event_item + .event_item {
    margin-top: 10px;
    margin-top: clamp(6px, 0.521vw, 10px);
  }
}
.dataWrap {
  position: relative;
}
.wrap{
height: 100%;
}
/*-------------------------------
  Horizontal Layout: 1920 * 1080
-------------------------------*/
@media screen and (orientation: landscape) and (min-width: 1920px) {
  /* 필요시 추가 */
}